* {
  font-family: 'Courier New', Courier, monospace;
  min-width: 400px;
  margin-left: 20px;
}

header {
  margin: auto;
  font-size: 80px;
  display: block;
}

#infoContainer {
  font-size: 30px;
  margin: auto;
  display: block;
}

.day {
  border: solid, black;
}